:root {
  --light-blue: #31c3bd;
  --light-blue-active: #65e9e4;
  --light-blue-shadow: #118c87;
  --light-yellow: #f2b137;
  --light-yellow-active: #ffc860;
  --light-yellow-shadow: #cc8b13;
  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --dark-navy-shadow: #10212a;
  --silver: #a8bfc9;
  --silver-active: #dbe8ed;
  --silver-shadow: #6b8997;
}

body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.875px;
}

body {
  height: 98vh;
  display: grid;
  place-items: center;
}
