.small {
    width: 40px;
    height: 40px;
}

.normal {
    width: 146px;
    height: 52px;
}

.long {
    width: 327px;
    height: 56px;
}

.small img {
    width: 15px;
    height: 15px;
}

.game-button-size {
    height: 96px;
    width: 96px;
    margin: 0;
    padding: 0;
 }

.dark-navy {
    background: var(--semi-dark-navy);
    box-shadow: inset 0px -8px 0px var(--dark-navy-shadow);
}


.yellow {
    background: var(--light-yellow);
    box-shadow: inset 0px -8px 0px var(--yellow-shadow);
    color: var(--dark-navy);
}

.yellow:active {
    background-color: var(--light-yellow-active);
}

.blue {
    background: var(--light-blue);
    box-shadow: inset 0px -8px 0px var(--light-blue-shadow);
    color: var(--dark-navy);
}

.blue:active {
    background-color: var(--light-blue-active);
}

.silver {
    background-color: var(--silver);
    box-shadow: inset 0px -4px 0px var(--silver-shadow);
}

.silver:active {
    background-color: var(--silver-active);
}

.border-radius-15px {
    border-radius: 15px;
    border: none;
}

.border-radius-5px {
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}

button p {
    box-sizing: border-box;
    margin-top: 10px;
    vertical-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
}

.game-button-size img {
    width: 40px;
    height: 40px;
    margin: 0 auto 4px;
    text-align: center;
}

.invisible {
    display:  none;
}

.visible {
    display: block;
}

