.card {
    background: var(--semi-dark-navy);
    height: 205px;
    width: 327px;
    box-shadow: inset 0px -8px 0px var(--dark-navy-shadow);
    border-radius: 15px;
}

h1 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--silver);
    padding: 24px 0;
    margin: 0;
}

h2 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: var(--silver);
    opacity: 0.5;
    margin: 17px 0 30px;
}

.switch {
    background: var(--dark-navy);
    margin: auto;
    border-radius: 10px;
    width: 279px;
    height: 72px;
    display: flex;
}

.switch-option {
    text-align: center;
}

.active {
    background-color: var(--silver);
}
.active img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(7%) saturate(2482%) hue-rotate(158deg) brightness(94%) contrast(94%);
}

.inactive {
    background-color: var(--dark-navy);
}

img {
    width: 32px;
    margin-top: 4px;
}

button {
    border: none;
    width: 123px;
    height: 54px;
    border-radius: 10px;
    margin: 8px;
    margin-top: 9px;
    cursor: pointer;
}
